.title {
    font-size: 80px;
    background-color: aqua;
    font-family: 'Brush Script MT', Georgia, sans-sarif;
    font-weight: 600;
    text-align: center;
}

.image{
    height: 300px;
}

.bullet{
    font-weight: 400;
    font-size: 24px;
    color: blue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.main {
    font-weight: 500;
}
.subtitle {
    font-weight: 400;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black;
    font-size: 24px;
}

.list {
    font-size: 18px;
}
